.loot-container {
  height: 100px;
  width: auto;
  border: 3px solid #FFF;
  border-radius: 8px;
  margin-top: 24px;
  float: right;
  animation: slide-in-bottom 0.8s forwards;
}

.loot-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.loot-item {
  margin: 0 10px;
}

.loot-item-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.loot-image {
  width: 60px;
  height: 60px;
}