.character-container {
  margin: 60px 24px;
}

.character-flex-container {
  display: flex;
}

.character-flex-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.character-icon-wrapper {
  display: flex;
  flex-direction: column;
}

.character-stat-row {
  display: flex;
  align-items: center;
}

.character-stat-icon {
  width: 65px;
  height: 65px;
}

.character-stat-text {
  font-weight: 400;
  color: #FFF;
  margin: 0 10px;
}

.character-hero-name {
  font-weight: bold;
  font-style: italic;
  color: #FFF;
}

.character-hero-stats {
  font-weight: bold;
  color: #FFF;
}

.character-title {}

.character-sub-title {}

.character-equipment-wrapper {
  display: flex;
  flex-direction: column;
}

.character-equipment-wrapper-text-bottom {
  display: flex;
  align-items: center;
}

.character-equipment-wrapper-text-top {
  display: flex;
  align-items: center;
}

.character-heading-text {
  color: #DDD4BB;
}

.character-equipment {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 0.1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "Shoulder Helmet Cape"
    "Weapon Chest Gloves"
    "Boots Legs Ring";
}

.shoulder {
  grid-area: Shoulder;
  width: fit-content;
}

.helmet {
  grid-area: Helmet;
  width: fit-content;
}

.cape {
  grid-area: Cape;
  width: fit-content;
}

.weapon {
  grid-area: Weapon;
  width: fit-content;
}

.chest {
  grid-area: Chest;
  width: fit-content;
}

.gloves {
  grid-area: Gloves;
  width: fit-content;
}

.boots {
  grid-area: Boots;
  width: fit-content;
}

.legs {
  grid-area: Legs;
  width: fit-content;
}

.ring {
  grid-area: Ring;
  width: fit-content;
}

.stat-bar {
  width: 80%;
  height: 35px;
  border-radius: 30px;
  background-color: #FFF;
  overflow: hidden;
}

.stat-bar-fill {
  height: 100%;
  transition: width 0.5s ease-in-out;
  text-align: center;
  color: #FFF;
}

.shoulder.flash {
  animation: flash 0.5s;
}

.helmet.flash {
  animation: flash 0.5s;
}

.cape.flash {
  animation: flash 0.5s;
}

.helmet.flash {
  animation: flash 0.5s;
}

.weapon.flash {
  animation: flash 0.5s;
}

.chest.flash {
  animation: flash 0.5s;
}


.gloves.flash {
  animation: flash 0.5s;
}

.boots.flash {
  animation: flash 0.5s;
}

.legs.flash {
  animation: flash 0.5s;
}

.ring.flash {
  animation: flash 0.5s;
}

@keyframes flash {
  0% {
    background-color: #FFF;
  }

  50% {
    background-color: #951D2D;
  }

  100% {
    background-color: #FFF;
  }
}

@media only screen and (max-width: 1000px) {
  .character-flex-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}