.item-container {
  position: relative;
}

.item-container.none {
  display: none;
}

.item-image {
  width: 60px;
  height: 60px;
}

.item-text {
  position: absolute;
  top: -10px;
  left: 64px;
  width: 220px;
  padding: 8px;
  border: 2px solid #FFF;
  border-radius: 4px;
  color: #FFF;
}

.item-text.small {
  width: fit-content;
}


.item-text-header {
  font-weight: bold;
  font-style: italic;
}