.item-container {
  position: relative;
}

.item-container.none {
  display: none;
}

.item-image {
  width: 60px;
  height: 60px;
}

.item-text-container {
  position: absolute;
  top: -10px;
  left: 64px;
  width: 220px;
  padding: 8px;
  border: 2px solid #DAA520;
  border-radius: 4px;
  z-index: 1000;
}

.item-text-container.small {
  width: fit-content;
}

.item-text-header {
  color: #DDD4BB;
}

.item-text-description {
  color: #FFF;
}

.item-text-header {
  font-weight: bold;
  font-style: italic;
}