/* 
#000000
#14213D
#DAA520
#DDD4BB
#FFF
*/

@keyframes slide-in-game {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.room-container {
  margin: 10%;
  height: calc(100vh - 18%);
  animation: slide-in-game 0.5s forwards;
}

.room-container {
  color: #FFF;
}

.room-text-header {
  font-size: 2rem;
  color: #FFF;
  font-size: 1.5rem;
}

.room-text {
  color: #FFF;
  font-size: 1.5rem;
}

.room-button {
  background-color: #666;
  border: none;
  color: #ccc;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px #000;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}

.room-button:hover {
  background-color: #444;
  border-bottom: 2px solid #fff;
}

.room-button:active {
  background-color: #222;
  box-shadow: 0 0 0 #000;
}

.room-button-item {
  background-color: #666;
  border: none;
  color: #ccc;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px #000;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
  float: right;
}

.room-button-item:hover {
  background-color: #444;
  border-bottom: 2px solid #fff;
}

.room-button-item:active {
  background-color: #222;
  box-shadow: 0 0 0 #000;
}

.room-scenario {
  height: 100%;
}

.room-items {
  margin: 10% 0px;
}

.room-options {

}