.hover-container {
  position: relative;
  display: flex;
}

.hover-image {
  width: 200px;
  height: 200px;
  margin-top: 12px;
}

.hover-text-container {
  position: relative;
  padding: 24px;
  margin: 24px;
  border: 2px solid #DAA520;
  border-radius: 4px;
  z-index: 1000;
  height: 100px;
  width: 200px;
}

.hover-text-header {
  color: #DDD4BB;
}

.hover-text-description {
  color: #FFF;
}

.hover-text-header {
  font-weight: bold;
  font-style: italic;
  margin: 0 0 12px 0;
}

@media only screen and (max-width: 700px) {
  .hover-text-header {
    font-size: 18px;
  }

  .hover-text-description {
    font-size: 14px;
  }

  .hover-image {
    width: 80%;
    height: 80%;
  }

  .hover-text-header {
    font-weight: bold;
    font-style: italic;
    margin: 0;
  }

}

@media only screen and (min-width: 700px) and (max-width: 1400px) {
  .hover-text-header {
    font-size: 18px;
  }

  .hover-text-description {
    font-size: 14px;
  }

  .hover-text-header {
    font-weight: bold;
    font-style: italic;
    margin: 0 0 12px 0;
  }
}