/* 
#000000
#14213D
#DAA520
#DDD4BB
#FFF
*/

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 2px;
  grid-template-areas:
    "Game Character"
    "Game Inventory";
}

.game {
  grid-area: Game;
  background-color: #101010;
}

.character {
  grid-area: Character;
  background-color: #DDD4BB;
}

.inventory {
  grid-area: Inventory;
  background-color: #DDD4BB;
}