.map-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
  padding: 5% 0;
}

.room {
  position: relative;
  background-color: #DAA520;
  width: 100px;
  height: 100px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 100;
}

.room:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 10px;
  background-color: #999;
}

.map-room-icon {
  width: 50px;
  height: 50px;
}